<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page of Second App</title>
</head>
<body style="font-family: 'Courier New', Courier, monospace;">
    <h1>Render Page</h1>
    <h2> <%= 2*2 %> </h2>
    <h3>
        <% for(x=1;x<=5;x++){ %>
            <p> Line <%=x %> </p>
        <% } %>
    </h3>
</body>
</html>